{% extends 'base.html' %}

{% load static %}

{% block title %}MapaCNAT{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}

{% block content %}
<header>
    <a href="{% url 'home' %}">
        <img src="{% static 'img/logo.png' %}" width="300" alt="Logo do Mapa CNAT">
    </a>
    <div id="autenticar">
        {% if is_authenticated %}
        <button class="botao">
            <i class="fa-solid fa-user" onclick="window.location.href = '{% url 'logout' %}'"></i>
            <a href="{% url 'logout' %}">Sair</a>
        </button>
        {% else %}
        <button class="botao" onclick="window.location.href = '{% url 'login' %}'">
            <i class="fa-solid fa-user"></i>
            <a href="{% url 'login' %}">Entrar</a>
        </button>
        <button class="botao alt-botao" onclick="window.location.href = '{% url 'register' %}'">
            <i class="fa-solid fa-user"></i>
            <a href="{% url 'register' %}">Cadastrar</a>
        </button>
        {% endif %}
    </div>
</header>
<main>
    <h1>
        Explore o Campus com facilidade
    </h1>
    <p>
        Com a ferramenta do Mapa CNAT, navegar o Campus se torna fácil e simples.
    </p>
    <button onclick="window.location.href = mapa;" class="botao">
        <i class="fa-solid fa-map"></i>
        <a href="{% url 'mapa' %}">Explorar</a>
    </button>
</main>
<script>
    let mapa = "{% url 'mapa' %}";
    function setHomeBackground() {
        if (window.visualViewport.width <= 768) {
            document.body.style.backgroundImage = "linear-gradient(to bottom, #fff 0, rgba(255, 255, 255, .9) 70px, rgba(255, 255, 255, 0) 600px), url({% static 'img/cnat/bosque.png' %})";
        } else {
            document.body.style.backgroundImage = "radial-gradient(circle at 100px 250px, #fff 0, rgba(255, 255, 255, .9) 300px, rgba(255, 255, 255, 0) 600px), url({% static 'img/cnat/bosque.png' %})";
        }
    }
    setHomeBackground();
    window.addEventListener("resize", setHomeBackground);
</script>
{% endblock %}