{% extends 'base.html' %}

{% load static %}

{% block title %}MapaCNAT | Explorar{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'css/mapa.css' %}">{% endblock %}

{% block content %}
<header>
    <form id="search" class="padding" action="" method="get" role="search">
        <img src="{% static 'img/logo-pequeno.png' %}">
        <label id="search-label" for="search-field"><i class="fa-solid fa-magnifying-glass" style="color: gray;"></i></label>
        <input type="search" id="search-field" name="q" placeholder="Pesquisar local..." required>
    </form>
    <button class="padding" id="options"><i class="fa-solid fa-bars"></i></button>
</header>

<main>
    <div id="sidebar-backdrop" class="sidebar-backdrop"></div>

    <div id="sidebar" class="sidebar">
        <div class="sidebar-header">
            <h3><a href="{% url 'home' %}">Menu</a></h3>
            <button id="close-sidebar" aria-label="Close menu">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <nav class="sidebar-links">
            <a href="{% url 'mapa' %}"><i class="fa-solid fa-comment"></i> Relatar Feedback</a>
        </nav>
    </div>

    <div id="map"></div>

    <button class="padding icon" id="orientation"><i class="fa-solid fa-compass"></i></button>
    
    <script>
        const config = "{% static 'json/config.json' %}";
        const mapImage =  "{% static 'svg/mapa.svg' %}";
        const pinImage = "{% static 'img/pino.png' %}";
    </script>
    <script src="https://pixijs.download/release/pixi.min.js"></script>
    <script type="module" src="{% static 'js/mapa.js' %}"></script>
</main>
{% endblock %}