{% extends 'base.html' %}

{% load static %}

{% block title %}MapaCNAT | Explorar{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/mapa.css' %}">
<style>
    .custom-cursor {
        cursor: url("{% static 'img/cursor-pin.png' %}") 12 24, auto;
    }
</style>
{% endblock %}

{% block content %}
<header>
    <div id="editor-modes">
        <a href="{% url 'home' %}"><img id="editor-logo" src="{% static 'img/logo-pequeno.png' %}"></a>
        <div class="button-list">
            <button class="padding icon editor-button" id="selection"><i class="fa-solid fa-arrow-pointer"></i></button>
            <button class="padding icon editor-button" id="delete"><i class="fa-solid fa-trash"></i></button>
            <hr>
            <button class="padding icon editor-button" id="build"><i class="fa-solid fa-building"></i></button>
            <button class="padding icon editor-button" id="reference"><i class="fa-solid fa-map-pin"></i></button>
            <button class="padding icon editor-button" id="conection"><i class="fa-solid fa-circle-nodes"></i></button>
        </div>
        <button class="padding icon editor-button hidden" style="cursor: pointer;" id="submit"><i class="fa-solid fa-check"></i></button>
    </div>
</header>

<main>
    <div id="map"></div>

    <div class="modal-overlay" id="buildModalOverlay">
        <div class="modal-box">
            <button type="button" class="modal-close" id="closeBuildModal">&times;</button>
            <form class="modal-form" id="buildForm">
                <h3>Nova Construção</h3>
                <div class="form-group">
                    <label for="build-name">Nome:</label>
                    <input type="text" id="build-name" placeholder="Use siglas se possível..." required>
                </div>
                <button type="submit" class="modal-submit-btn" id="buildFormSubmit">Continuar</button>
            </form>
        </div>
    </div>
    
    <script>
        const config = "{% static 'json/config.json' %}";
        const mapImage =  "{% static 'svg/mapa.svg' %}";
        const pinImage = "{% static 'img/pino.png' %}";
    </script>
    <script src="https://pixijs.download/release/pixi.min.js"></script>
    <script type="module" src="{% static 'js/mapa-editor.js' %}"></script>
</main>
{% endblock %}